.navBar {
	position: relative;
	height: 10vh;
	// position: sticky;
	// top: 0;
	// z-index: 10;
	.navBarItems {
		background-color: #fafafa;
		position: fixed;
		z-index: 10;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		max-width: 1200px;
		margin: auto;
		ul {
			display: flex;
			gap: 30px;
		}
	}

	.navBarColor {
		background-color: black;
		color: white;
	}
}

.footer {
	background-color: #fafafa;
	.footerItems {
		max-width: 1200px;
		margin: 60px auto 10px;
		display: flex;
		justify-content: space-between;
		padding: 40px 0 20px;
		align-items: flex-start;
		border-bottom: 1px solid hsl(0, 0%, 85%);

		h4 {
			text-transform: uppercase;
			margin-bottom: 20px;
			font-weight: 400;
		}

		li {
			margin-bottom: 10px;
			font-weight: 300;
			font-size: 14px;
		}
		.socialIcons {
			svg {
				margin-right: 10px;
				color: hsl(0, 0%, 45%);
			}
		}
	}
	.copyRight {
		margin: auto;
		max-width: 1200px;
		padding: 10px 0 15px;
		font-size: 13px;
		p {
			color: grey;
		}
	}
}
